<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableviewtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18D045961C48A00D00F4B3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D045AF1C48A00D00F4B3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D045BA1C48A00D00F4B3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
